.accountWrapper {
  max-width: 780px;
  margin: 0 auto;
  padding-top: 28px;
}

.avatarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.avatar {
  position: relative;
  margin-bottom: 12px;
}
.avatar img {
  width: 120px;
  height: 120px;
  border: 4px solid #3183EF;
  border-radius: 100%;
  object-fit: cover;
}
.avatarEdit {
  position: absolute;
  right: 7px;
  bottom: 7px;
  background: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 2px solid #fff;
}
.avatarInfo h2 {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 1.35rem;
  color: #212531;
}
.avatarMail {
  color: #8c98a4;
  font-size: 1rem;
}

.accountBox {
  background: #f9fbfd;
  border-radius: 18px;
  padding: 34px 32px;
  box-shadow: 0 5px 20px 0 rgba(73, 119, 234, 0.08);
  margin: 36px 0 0 0;
}
.accountBox h3 {
  font-size: 1.55rem;
  font-weight: 400;
  color: #191f29;
  margin-bottom: 24px;
}

.accountFields {
  margin: 0;
}

.secondaryBtn {
  border: 1px solid #3183EF;
  background: #f7fbff;
  color: #3183EF;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  padding: 7px 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
  transition: background 0.2s;
}
.secondaryBtn span {
  font-size: 18px;
  margin-right: 5px;
}
.secondaryBtn:hover {
  background: #eaf5ff;
}

@media (max-width: 640px) {
  .accountBox {
    padding: 20px 10px;
  }
  .accountWrapper {
    padding: 12px;
  }
  .avatar img {
    width: 85px;
    height: 85px;
  }
}
